<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>LoginScreenServlet</servlet-name>
        <servlet-class>LoginScreenServlet</servlet-class>
        <init-param>
            <param-name>dbURL</param-name>
            <param-value>jdbc:derby://localhost:1527/UserDB</param-value>
        </init-param>
        <init-param>
            <param-name>dbUname</param-name>
            <param-value>app</param-value>
        </init-param>
        <init-param>
            <param-name>dbPassword</param-name>
            <param-value>app</param-value>
        </init-param>
        <init-param>
            <param-name>dbDriver</param-name>
            <param-value>org.apache.derby.jdbc.ClientDriver</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Encryption</servlet-name>
        <servlet-class>Encryption</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CaptchaServlet</servlet-name>
        <servlet-class>CaptchaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SessionInvalidatorServlet</servlet-name>
        <servlet-class>.SessionInvalidatorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReportGenerator</servlet-name>
        <servlet-class>ReportGenerator</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginScreenServlet</servlet-name>
        <url-pattern>/LoginScreenServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Encryption</servlet-name>
        <url-pattern>/Encryption</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CaptchaServlet</servlet-name>
        <url-pattern>/CaptchaServlet</url-pattern>
    </servlet-mapping>
    <context-param>
        <param-name>captchaLength</param-name>
        <param-value>1</param-value>
    </context-param>
    <servlet-mapping>
        <servlet-name>SessionInvalidatorServlet</servlet-name>
        <url-pattern>/SessionInvalidatorServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReportGenerator</servlet-name>
        <url-pattern>/ReportGenerator</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>5</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <context-param>
        <param-name>header</param-name>
        <param-value>ICS2609 / 2CSC / Bernales, Canape, Sincioco</param-value>
    </context-param>
    <context-param>
        <param-name>footer</param-name>
        <param-value>MP2</param-value>
    </context-param>
    <context-param>
        <param-name>cipherAlgorithm</param-name>
        <param-value>AES/CBC/PKCS5Padding</param-value>
    </context-param>
    <context-param>
        <param-name>encryptionKey</param-name>
        <param-value>strToEncrypt</param-value>
    </context-param>
    <error-page>
        <error-code>404</error-code>
        <location>/error404.jsp</location>
    </error-page>
</web-app>
